/* src/styles/App.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --prim: #AEA434;
  --seco: #ED583F;
  --back: #EDDBC2;
  --dark: #391212
}

html, body {
  font-family: "Space Grotesk", sans-serif;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar{
  width: 20px;
}

body::-webkit-scrollbar-track{
  background: var(--prim);
}

body::-webkit-scrollbar-thumb{
  background: var(--seco);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the wrapper covers at least the full viewport height */
}

main {
  flex: 1; /* This allows the main content area to push the footer down */
  padding: 20px;
  background-color: var(--back);
  color: var(--dark);
}

main h1{
  display: inline-block; 
  padding: 5px;
  border-radius: 10px;
  border-style: dotted;
  border-color: var(--prim);
}

main p{
  margin-bottom: 30px;
}

.header {
  background-color: var(--prim);
  color: var(--back);
  padding: 20px;
  text-align: left;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-button,
.dropdown-content {
  box-sizing: border-box;
  
}

.nav-button {
  color: var(--back);
  text-align: center;
  text-decoration: none;
  padding: 15px ;
  background-color: var(--seco);
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s;
  min-width: 95px;
  position: relative;
  display: inline-block;
  width: auto;
}

.nav-button:hover {
  background-color: var(--back);
  color: var(--seco);
}

/* Dropdown Wrapper */
.nav-button-wrapper {
  position: relative;
  display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 90%;
  background-color: var(--seco);
  min-width: 70px; 
  z-index: 1;
  border-radius: 4px;
  margin-top: 5px;
}

.dropdown-content a {
  color: var(--back);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: var(--back);
  color: var(--seco);
  border-style: dashed;
  border-color: var(--seco);
}

/* Show dropdown on hover */
.nav-button-wrapper:hover .dropdown-content {
  display: block;
}


.logo {
  background: none;
  border: none;
  margin-left: 2vh;
  color: var(--back);
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  border-radius: 4px;
  text-decoration: none; 
  font-weight: bolder;
}

.logo:hover {
  background: none;
  color: var(--seco);
}

.footer {
  background-color: var(--prim);
  color: var(--back);
  text-align: left;
  padding: 10px;
}

.card {
  background-color: var(--back);
  padding: 20px;
  padding-top: 5px;
  border-radius: 8px;
  border-style: dashed;
  border-color: var(--seco);
  margin-top: 10px;
  max-width: 1000px; 
}

.card h3 {
  color: var(--prim);
  text-align: left;
  margin-bottom: 20px;
  font-size: 2rem;
  border-bottom: 2px solid var(--prim);
  padding-bottom: 10px;
}

/* Formatting for resume stuff */
.card-item {
  margin-bottom: 20px;
}

.card-item h4 {
  color: var(--prim);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-item .date {
  font-size: 1rem;
  color: var(--seco);
  font-style: italic;
}

.card-item ul {
  list-style-type: disc;
  padding-left: 20px;
}

.card-item ul li {
  color: var(--dark);
  margin-bottom: 8px;
  line-height: 1.5;
}
