/* src/styles/App.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --prim: #AEA434;
  --seco: #ED583F;
  --back: #EDDBC2;
}

html, body {
  font-family: "Space Grotesk", sans-serif;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the wrapper covers at least the full viewport height */
}

main {
  flex: 1; /* This allows the main content area to grow and push the footer down */
  padding: 20px;
  background-color: var(--back);
}

.header {
  background-color: var(--prim);
  color: var(--back);
  padding: 20px;
  text-align: left;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  color: var(--back);
  text-decoration: none;
  padding: 15px ;
  background-color: var(--seco);
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: var(--back);
  color: var(--seco);
}

.logo {
  background: none;
  border: none;
  color: var(--back);
  font-size: 1.5rem;
  border-radius: 4px;
  text-decoration: none; 
  font-weight: bolder;
  font-style: italic;
}

.logo:hover {
  background: none;
  color: var(--seco);
}

.footer {
  background-color: var(--prim);
  color: var(--back);
  text-align: left;
  padding: 10px;
}

.card {
  background-color: var(--back);
  padding: 20px;
  padding-top: 5px;
  border-radius: 8px;
  border-style: dashed;
  border-color: var(--seco);
  margin-top: 10px;
  max-width: 1000px; 
}

.card h3 {
  color: var(--prim);
  text-align: left;
  margin-bottom: 20px;
  font-size: 2rem;
  border-bottom: 2px solid var(--prim);
  padding-bottom: 10px;
}

.card-item {
  margin-bottom: 20px;
}

.card-item h4 {
  color: var(--prim);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-item .date {
  font-size: 1rem;
  color: var(--seco);
  font-style: italic;
}

.card-item ul {
  list-style-type: disc;
  padding-left: 20px;
}

.card-item ul li {
  color: #333;
  margin-bottom: 8px;
  line-height: 1.5;
}
