/* styles/style.css */
:root {
    --prim: #AEA434;
    --seco: #ED583F;
    --back: #EDDBC2;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: var(--prim);
    color: var(--back);
    padding: 20px;
    text-align: left;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    color: var(--back);
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--prim); /* Darker shade for buttons */
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: var(--seco); /* Even darker shade for hover effect */
}

.logo {
    background: none;
    border: none;
    color:  var(--back);
    font-size: 1.5rem;
     border-radius: 4px;
    cursor: pointer;
}

.logo:hover {
    background: none;
    color: var(--seco); /* Even darker shade for hover effect */
}

.content {
    flex: 1; /* Makes the content area flexible and pushes footer down */
    padding: 20px;
    background-color: var(--back);
}

.footer {
    background-color: var(--seco);
    color: var(--back);
    text-align: left;
    padding: 10px;
}

@media (max-width: 600px) {
    .header, .footer {
        padding: 10px;
    }

    .content {
        padding: 10px;
    }
}